<ion-view view-title="FreePlay" style:"left:0px;" class="titul">
  <ion-content>
   <div class="pantalla">
      <div class="artistas">
        <img src="../img/artistas/chayanne.jpg" alt="" class="img">
        <div>
          <h6><span class="art"><i class="icon ion-play"><a href="#"></a></i></span>Chayanne</h6>
        </div>
      </div>
      <div class="artistas">
        <img src="../img/artistas/eminem.jpg" alt="" class="img">
        <div>
          <h6><span class="art"><i class="icon ion-play"><a href="#"></a></i></span>Eminem</h6>
        </div>
      </div>
      <div class="artistas">
        <img src="../img/artistas/katyperry.jpg" alt="" class="img">
        <div>
          <h6><span class="art"><i class="icon ion-play"><a href="#"></a></i></span>Katy Perry</h6>
        </div>
      </div>
      <div class="artistas">
        <img src="../img/artistas/likin.jpg" alt="" class="img">
        <div>
          <h6><span class="art"><i class="icon ion-play"><a href="#"></a></i></span>Linkin Park</h6>
        </div>
      </div>
      <div class="artistas">
        <img src="../img/artistas/antologia.jpg" alt="" class="img">
        <div>
          <h6><span class="art"><i class="icon ion-play"><a href="#"></a></i></span>Antologia</h6>
        </div>
      </div>
      <div class="artistas">
        <img src="../img/artistas/coldplay.jpg" alt="" class="img">
        <div>
          <h6><span class="art"><i class="icon ion-play"><a href="#"></a></i></span>Coldplay</h6>
        </div>
      </div>
      <div class="artistas">
        <img src="../img/artistas/tito.jpg" alt="" class="img">
        <div>
          <h6><span class="art"><i class="icon ion-play"><a href="#"></a></i></span>Tito Nieves</h6>
        </div>
      </div>
      <div class="artistas">
        <img src="../img/artistas/guetta.jpg" alt="" class="img">
        <div>
          <h6><span class="art"><i class="icon ion-play"><a href="#"></a></i></span>David Guetta</h6>
        </div>
      </div>
      <div class="artistas">
        <img src="../img/artistas/enrique.jpeg" alt="" class="img">
        <div>
          <h6><span class="art"><i class="icon ion-play"><a href="#"></a></i></span>Enrique Igle.</h6>
        </div>
      </div>
      <div class="artistas">
        <img src="../img/artistas/porta.jpg" alt="" class="img">
        <div>
          <h6><span class="art"><i class="icon ion-play"><a href="#"></a></i></span>Porta</h6>
        </div>
      </div>
      <div class="artistas">
        <img src="../img/artistas/royce.jpg" alt="" class="img">
        <div>
          <h6><span class="art"><i class="icon ion-play"><a href="#"></a></i></span>Prince Royce</h6>
        </div>
      </div>
      <div class="artistas">
        <img src="../img/artistas/juanes.jpg" alt="" class="img">
        <div>
          <h6><span class="art"><i class="icon ion-play"><a href="#"></a></i></span>Juanes</h6>
        </div>
      </div>
      <div class="artistas">
        <img src="../img/artistas/bruno.jpg" alt="" class="img">
        <div>
          <h6><span class="art"><i class="icon ion-play"><a href="#"></a></i></span>Bruno Mars</h6>
        </div>
      </div>
      <div class="artistas">
        <img src="../img/artistas/cnco.jpg" alt="" class="img">
        <div>
          <h6><span class="art"><i class="icon ion-play"><a href="#"></a></i></span>CNCO</h6>
        </div>
      </div>
      <div class="artistas">
        <img src="../img/artistas/alan.jpg" alt="" class="img">
        <div>
          <h6><span class="art"><i class="icon ion-play"><a href="#"></a></i></span>Alan Walker</h6>
        </div>
      </div>
    
    </div>
  </ion-content>
</ion-view>
