<ion-view view-title="FreePlay" style:"left:0px;" class="titul">
  <ion-content>
    <div class="pantalla">
      <div class="genero">
        <img src="../img/generos/pop.jpg" alt="" class="img">
        <div>
          
          <h5><span class="span"><i class="icon ion-play"><a href="#"></a></i></span>POP</h5>
        </div>
      </div>
      <div class="genero">
        <img src="../img/generos/salsa.jpg" alt="" class="img">
        <div>
          <h5><span class="span"><i class="icon ion-play"><a href="#"></a></i></span>SALSA</h5>
        </div>
      </div>
      <div class="genero">
        <img src="../img/generos/rap.jpg" alt="" class="img">
        <div>
          <h5><span class="span"><i class="icon ion-play"><a href="#"></a></i></span>RAP</h5>
        </div>
      </div>
      <div class="genero">
        <img src="../img/generos/romanticas.jpg" alt="" class="img">
        <div>
          <h5><span class="span"><i class="icon ion-play"><a href="#"></a></i></span>BALADAS </h5>
        </div>
      </div>
      <div class="genero">
        <img src="../img/generos/rock.jpg" alt="" class="img">
        <div>
          <h5><span class="span"><i class="icon ion-play"><a href="#"></a></i></span>ROCK </h5>
        </div>
      </div>  
      <div class="genero">
        <img src="../img/generos/reggaeton.jpg" alt="" class="img">
        <div>
          <h5><span class="span"><i class="icon ion-play"><a href="#"></a></i></span>REGGAETON </h5>
        </div>
      </div>
    
    </div>


    <!--<img src="../img/pop.jpg" alt="" >-->
  </ion-content>
</ion-view>