<ion-view view-title="FreePlay" style: "left:0px;" class="titul">
  <ion-content>
    <div class="pantalla">
      <div class="usuario">
        <img src="../img/usuario.jpg" alt="" class="imga">
      </div>
      <div class="usuario">
         <div>
          <span class="ade">Nombre:</span>
          <span class="adde">Erick Sanchez</span>
        </div>
      </div>
      <div class="usuario">
         <div>
          <span class="ade">Codigo:</span>
          <span class="adde">Fp01102</span><br>
          <br>
          <span class="ade">Usuario:</span>
          <span class="adde">esanchezc24@gmail.com</span><br>
          <br>
          <span class="ade">Fecha Nacimiento:</span>
          <span class="adde">24-02-1997</span><br>
          <br>
          <span class="ade">Sexo:</span>
          <span class="adde">Masculino</span>
        </div>
      </div>
      
     
    </div>

    
